flows.json
[
    {
        "id": "7289fcf59c2ab3c4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fc86bc915577387",
        "type": "mqtt out",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/rel0/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3326a4c9683137",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "8920709f975e475d",
        "type": "mqtt out",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/rel1/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3326a4c9683137",
        "x": 1070,
        "y": 120,
        "wires": []
    },
    {
        "id": "f0109a90a393fb76",
        "type": "mqtt out",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/rel2/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3326a4c9683137",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b13fa978685a7a3",
        "type": "mqtt out",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/rel3/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3326a4c9683137",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "ca6ffa0e74332837",
        "type": "mqtt out",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/pca9/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3326a4c9683137",
        "x": 350,
        "y": 420,
        "wires": []
    },
    {
        "id": "54b4a284219551dc",
        "type": "mqtt out",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/pca10/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9d3326a4c9683137",
        "x": 330,
        "y": 600,
        "wires": []
    },
    {
        "id": "48a9cf6db6b7d8ed",
        "type": "mqtt in",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/analogico1/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9d3326a4c9683137",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 740,
        "wires": [
            [
                "925107e71a91c364",
                "6b3b07bd8572e50f"
            ]
        ]
    },
    {
        "id": "6b3b07bd8572e50f",
        "type": "range",
        "z": "7289fcf59c2ab3c4",
        "minin": "460",
        "maxin": "3300",
        "minout": "0",
        "maxout": "1000",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 380,
        "y": 840,
        "wires": [
            [
                "5dfe93d061ddb334"
            ]
        ]
    },
    {
        "id": "5dfe93d061ddb334",
        "type": "function",
        "z": "7289fcf59c2ab3c4",
        "name": "function 5",
        "func": "msg.payload = msg.payload/10;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 900,
        "wires": [
            [
                "1c67bdad7731efd8",
                "a97ddcc9eb4146a7"
            ]
        ]
    },
    {
        "id": "5ea27fc4aee7db85",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "331af35542d5a28b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "8fc86bc915577387",
                "6817675789d18c0a"
            ]
        ]
    },
    {
        "id": "6d6a0f8478253e45",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "331af35542d5a28b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "8fc86bc915577387",
                "6817675789d18c0a"
            ]
        ]
    },
    {
        "id": "b62de8bdb031c15d",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "6bdc5da720406783",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 40,
        "wires": [
            [
                "cedacbd2e765e30e",
                "8920709f975e475d"
            ]
        ]
    },
    {
        "id": "7c8194c758b8d8a8",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "6bdc5da720406783",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 120,
        "wires": [
            [
                "cedacbd2e765e30e",
                "8920709f975e475d"
            ]
        ]
    },
    {
        "id": "e4fe883dead1d277",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "3990e9367a0d70c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "78e2e17a0976bb59",
                "f0109a90a393fb76"
            ]
        ]
    },
    {
        "id": "98b34aaec45e40a1",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "3990e9367a0d70c3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "78e2e17a0976bb59",
                "f0109a90a393fb76"
            ]
        ]
    },
    {
        "id": "9f939a3eda8b6e9f",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "24181d9eb219970e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "0cda75acc8892e07",
                "5b13fa978685a7a3"
            ]
        ]
    },
    {
        "id": "a670b450cbe523a2",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "24181d9eb219970e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 580,
        "y": 480,
        "wires": [
            [
                "0cda75acc8892e07",
                "5b13fa978685a7a3"
            ]
        ]
    },
    {
        "id": "d508bf24adc49297",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "31c8c003e8952fcc",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "1d969f3a6693586d",
                "ca6ffa0e74332837"
            ]
        ]
    },
    {
        "id": "ad720749972bd220",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "31c8c003e8952fcc",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "1d969f3a6693586d",
                "ca6ffa0e74332837"
            ]
        ]
    },
    {
        "id": "4d6230310b541535",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "31c8c003e8952fcc",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 540,
        "wires": [
            [
                "69ab9e11b01546b3",
                "54b4a284219551dc"
            ]
        ]
    },
    {
        "id": "72710696fd9670b7",
        "type": "ui_button",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "31c8c003e8952fcc",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 80,
        "y": 600,
        "wires": [
            [
                "69ab9e11b01546b3",
                "54b4a284219551dc"
            ]
        ]
    },
    {
        "id": "5276ad574859efe7",
        "type": "ui_slider",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "3bf366bcb0100151",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4095",
        "step": "50",
        "className": "",
        "x": 630,
        "y": 620,
        "wires": [
            [
                "1e642f1d551c85f1"
            ]
        ]
    },
    {
        "id": "cedacbd2e765e30e",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "6bdc5da720406783",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1050,
        "y": 40,
        "wires": []
    },
    {
        "id": "78e2e17a0976bb59",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "3990e9367a0d70c3",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "0cda75acc8892e07",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "24181d9eb219970e",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d969f3a6693586d",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "31c8c003e8952fcc",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 350,
        "y": 320,
        "wires": []
    },
    {
        "id": "69ab9e11b01546b3",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "31c8c003e8952fcc",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 330,
        "y": 520,
        "wires": []
    },
    {
        "id": "1e642f1d551c85f1",
        "type": "ui_gauge",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "3bf366bcb0100151",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "925107e71a91c364",
        "type": "ui_gauge",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "ef9620afe6f14c3c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "460",
        "max": "3300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 740,
        "wires": []
    },
    {
        "id": "1c67bdad7731efd8",
        "type": "ui_gauge",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "85d09e3fc33dfab4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 940,
        "wires": []
    },
    {
        "id": "86390e509907effa",
        "type": "aedes broker",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "credentials": {},
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "9b37786e9ecc761b"
            ],
            []
        ]
    },
    {
        "id": "c380cd05b148c11d",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "4ef169607a78022b",
        "order": 1,
        "width": 1,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9b37786e9ecc761b",
        "type": "function",
        "z": "7289fcf59c2ab3c4",
        "name": "function 6",
        "func": "var nomeDevice = msg.payload.client.id;;\nvar statusConexao = msg.payload.client.connected;\n\n\nif (nomeDevice === \"ESP8266Client-teste\" && statusConexao === true)\n{\n    msg.payload = \"Conectado\";\n}\nelse\n{\n    msg.payload = \"Desconectado\";\n}\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1120,
        "wires": [
            [
                "c380cd05b148c11d"
            ]
        ]
    },
    {
        "id": "1434a0660c37ddb8",
        "type": "mqtt in",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "topic": "topico/pub/rel0/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9d3326a4c9683137",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "8fc86bc915577387",
                "6817675789d18c0a"
            ]
        ]
    },
    {
        "id": "6817675789d18c0a",
        "type": "ui_text",
        "z": "7289fcf59c2ab3c4",
        "group": "331af35542d5a28b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "a97ddcc9eb4146a7",
        "type": "ui_chart",
        "z": "7289fcf59c2ab3c4",
        "name": "",
        "group": "5526fe9c8897781d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c962267788ea750c",
        "type": "ui_spacer",
        "z": "7289fcf59c2ab3c4",
        "name": "spacer",
        "group": "0944d0b88dcb941f",
        "order": 1,
        "width": "9",
        "height": "1"
    },
    {
        "id": "9b092c5b9a953b15",
        "type": "ui_spacer",
        "z": "7289fcf59c2ab3c4",
        "name": "spacer",
        "group": "0944d0b88dcb941f",
        "order": 4,
        "width": "9",
        "height": "1"
    },
    {
        "id": "e6959ae6deeacc05",
        "type": "ui_spacer",
        "z": "7289fcf59c2ab3c4",
        "name": "spacer",
        "group": "4ef169607a78022b",
        "order": 2,
        "width": 29,
        "height": 1
    },
    {
        "id": "62a1012c6dc0eaac",
        "type": "ui_spacer",
        "z": "7289fcf59c2ab3c4",
        "name": "spacer",
        "group": "5526fe9c8897781d",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "73a4094c3c6826c1",
        "type": "ui_spacer",
        "z": "7289fcf59c2ab3c4",
        "name": "spacer",
        "group": "5526fe9c8897781d",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "8981281f645ed932",
        "type": "ui_spacer",
        "z": "7289fcf59c2ab3c4",
        "name": "spacer",
        "group": "5526fe9c8897781d",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "9d3326a4c9683137",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "331af35542d5a28b",
        "type": "ui_group",
        "name": "Rele 0",
        "tab": "6d296f0d070f30c1",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bdc5da720406783",
        "type": "ui_group",
        "name": "Rele 1",
        "tab": "6d296f0d070f30c1",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3990e9367a0d70c3",
        "type": "ui_group",
        "name": "Rele 2",
        "tab": "6d296f0d070f30c1",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "24181d9eb219970e",
        "type": "ui_group",
        "name": "Rele 3",
        "tab": "6d296f0d070f30c1",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31c8c003e8952fcc",
        "type": "ui_group",
        "name": "PCA9535",
        "tab": "6d296f0d070f30c1",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bf366bcb0100151",
        "type": "ui_group",
        "name": "grafico",
        "tab": "6d296f0d070f30c1",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef9620afe6f14c3c",
        "type": "ui_group",
        "name": "grafico2",
        "tab": "6d296f0d070f30c1",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85d09e3fc33dfab4",
        "type": "ui_group",
        "name": "",
        "tab": "6d296f0d070f30c1",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ef169607a78022b",
        "type": "ui_group",
        "name": "Status",
        "tab": "6d296f0d070f30c1",
        "order": 2,
        "disp": false,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5526fe9c8897781d",
        "type": "ui_group",
        "name": "Group 10",
        "tab": "6d296f0d070f30c1",
        "order": 11,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0944d0b88dcb941f",
        "type": "ui_group",
        "name": "Logotipo",
        "tab": "6d296f0d070f30c1",
        "order": 1,
        "disp": false,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d296f0d070f30c1",
        "type": "ui_tab",
        "name": "Operação do PLC32",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]